.slides section.has-dark-background,
.slides section.has-dark-background h2 {
	color: #fff;
}
.slides section.has-light-background,
			.slides section.has-light-background h2 {
				color: #222;
			}
        .conteiner {
            position: relative;
            height: 60dvh;
            width: 50dvw;
            border: 1px solid rgb(129, 8, 8);
        }
        .text-bottom-left {
            position: absolute;
            bottom: 0;
            left: 0;
            color: rgb(0, 0, 0);
        }
        .text-bottom-right {
            position: absolute;
            bottom: 0;
            right: 0;
            color: rgb(0, 0, 0);
        }
